/* Ajustes de fonte e estilo */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #5A1EF4;
    padding-bottom: 80px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.footer-bar i {
    font-size: 24px;
    color: #6C63FF;
}

.bottom-nav i{
    color: #6c63ff !important;
}

.fs-3{
    color: #5A1EF4;
}

.logo {
    max-width: 100px;
}

/* Cor personalizada do botão */
.btn-primary, .btn-secondary {
    background-color: #5A1EF4;
    border-color: #5A1EF4;
}

.btn-primary:hover , .btn-secondary:hover{
    background-color: #4B0FE4;
    border-color: #4B0FE4;
}

.back-button {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left:30px;
  }
.back-button a {
    color: #6C63FF;
    font-weight: bold;
    }
 .back-button a:hover {
    color: #6C63FF;
}

.bottom-nav {
    background-color: #fff;
    font-size: 1.7em;
    border-radius: 25px;
    color: #6C63FF;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 10px;
    width: 95%;
    left: 2.5%;
    z-index: 1000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


