/* Ajustes de fonte e estilo */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    max-width: 100px;
}

/* Cor personalizada do botão */
.btn-primary {
    background-color: #5A1EF4;
    border-color: #5A1EF4;
}

.btn-primary:hover {
    background-color: #4B0FE4;
    border-color: #4B0FE4;
}
